html, body{
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

div{
    color: white;
    font-size: 30px;
}

.contenedor{
    box-sizing: border-box;
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    border: 5px solid red;
}

#n1{background-color: lightseagreen;}
#n2{background-color: lightskyblue;}
#n3{background-color: violet;}
#n4{background-color: darkslategray;}
#n5{background-color: yellow;}
#n6{background-color: orange;}
#n7{background-color: red;}
#n8{background-color: grey;}
#n9{background-color: lightgreen;}
#n10{background-color: darkgreen;}