body{
    background-color: rgb(255, 255, 255);
}

p{
    color: lightslategrey;
    font-size: x-large;
}

h1{
    font-size: xx-large;
    color: lightcoral;
}

h2{
    color: lightgreen;
}

.parraf2{
color: black;
font-size: smaller;
}