body{
    background-color: grey;
}

p{
    color: lightsalmon;
    font-size: x-large;
}

h1{
    font-size: xx-large;
    color: lightsteelblue;
}

.parraf2{
color: lightcoral;
font-size: x-large;
}