html{
    background-color:lightgrey;
    background: url("/tema2/Images/bg.jpg") no-repeat center center fixed;
    font-family: 'Trebuchet MS', 'Geneva', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

body{
    margin: 0;
}

P::first-letter{
    font-size: 1rem;
    font-weight: bold;
    color: #4C3803;
}

article, aside, footer, header {
    padding: 1rem;
    box-sizing: border-box;
  }

#header{
    background-color: #b28306;
    color: #4c3803;
    text-align: center;
    border-bottom: 1px solid;
    border-radius: 20px;
    order: 1;
    padding: 1rem;
    
}

nav{
  display: flex;
  order: 2;
  background-color: #ebcd7c;
  border-radius: 20px;
  padding: 5px 0;
}

nav a{
    flex: auto;
    text-align: center;
    background: #4c3803;
    color: #b28306;
    margin: 0 5px;
    border-radius: 20px;
    text-decoration: none;
    padding: 5px 0;
}

nav a:hover{
    outline: 1px solid white;
    color: white;
    text-decoration: none;
}

a{
    color: gray;
    text-decoration: none;
    font-weight: bold;
}

aside{
    background-color: #b28306;
    border-radius: 20px;
}

@media screen and (min-width: 560px) {
    body {
      display: flex;
      flex-direction: column;
      max-width: 75rem;
      margin: auto;
    }
    main {
      display: flex;
      order: 2;
      flex-wrap: wrap;
      box-sizing: border-box;
      border-bottom: 0.5rem solid;
    }
    nav {
      order: 1;
    }
    header {
      order: 1;
    }
    article {
      flex: 75%;
    }
    aside {
      flex: 25%;
    }
    footer {
      order: 4;
    }
  }
