body{
    margin: 0;
}


#banner1{
    position: fixed;
    z-index: 1;
    background-image: url(/tema2/Images/satisfyer.png);
    width: 1257px;
    height: 300px;
    background-size: 1257px 300px;
    top: 0px;
    background-repeat: no-repeat;
    border: solid black 3px;
}

#banner2{
    position: relative;
    z-index: 0;
    background-image: url(/tema2/Images/bannergetcertified.png);
    width: 180px;
    height: 900px;
    background-size: 180px 900px;
    top: 303px;
    left: 1077px;
    background-repeat: no-repeat;
    border: solid black 3px;
}

#img1{
    position: relative;
    z-index: 0;
    background-image: url(/tema2/Images/img1.jpg);
    width: 400px;
    height: 300px;
    background-size: 400px 300px;
    top: -550px;
    left: 20px;
    border: solid black 3px;
}

#p1{
    position: relative;
    z-index: 0;
    top: -855px;
    left: 450px;
    width: 600px;
    height: 300px;
}

#p2{
    position: relative;
    z-index: 0;
    top: -830px;
    left: 20px;
    width: 1050px;
    height: 20px;
}

#img2{
    position: relative;
    z-index: 0;
    background-image: url(/tema2/Images/im2.jpg);
    width: 400px;
    height: 300px;
    background-size: 400px 300px;
    top: -670px;
    left: 650px;
    border: solid black 3px;
}

#p3{
    position: relative;
    z-index: 0;
    top: -980px;
    left: 20px;
    width: 610px;
    height: 300px;
}
