body{
    margin: 0;
}

#banner1{
        position: fixed;
        background-image: url(/tema2/Images/satisfyer.png);
        width: 100%;
        height: 300px;
        top: 0px;
        z-index: 1;
        background-repeat: no-repeat;
        background-size: 1280px 200px;
}

#banner2{
        position: relative;
        background-image: url(/tema2/Images/bannergetcertified.png);
        width: 180px;
        height: 707px;
        top: 200px;
        left: 1083px;
        z-index: 0;
        background-repeat: no-repeat;
        background-size:180px 707px;
}

#p1{
    position: relative;
    top: -1030px;
    left: 600px;
    width: 470px;
}

#img1{
    background-image: url(/tema2/Images/img1.jpg);
    position: relative;
    width: 480px;
    height: 270px;
    top: -470px;
    left: 80px;
    border: 3px solid black;
}

#p2{
    position: relative;
    top: -1000px;
    left: 10px;
    width: 1050px;
}

#img2{
    background-image: url(/tema2/Images/im2.jpg);
    position: relative;
    width: 300px;
    height: 180px;
    top: -270px;
    left: 370px;
    border: 3px solid black;
    background-repeat: ;
}
