html{
    background-color: lightgrey;
    font-family: trevuchet, Geneva, sans-serif;
    background: url(/2do_trimestre/Images/bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    margin: 0;
}

header{
    
}

